<div class="content-body">

    <div class="container-fluid">

        <div class="row">
            <div class="col-xl-3 col-sm-6 m-t35">
                <div class="card card-coin">
                    <div class="card-body text-center">
                        <h1>Category</h1>
                        <h2 class="text-black mb-2 font-w600">
                            <%= allCategories.length %>
                        </h2>

                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-sm-6 m-t35">
                <div class="card card-coin">
                    <div class="card-body text-center">
                        <h1>Product</h1>
                        <h2 class="text-black mb-2 font-w600">
                            <%= allProducts.length %>
                        </h2>

                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-sm-6 m-t35">
                <div class="card card-coin">
                    <div class="card-body text-center">
                        <h1>User</h1>
                        <h2 class="text-black mb-2 font-w600">
                            <%= allUsers.length %>
                        </h2>

                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-sm-6 m-t35">
                <div class="card card-coin">
                    <div class="card-body text-center">
                        <h1>Order</h1>
                        <h2 class="text-black mb-2 font-w600">
                            <%= allOrders.length %>
                        </h2>

                    </div>
                </div>
            </div>
        </div>



    </div>